# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
  workflow_dispatch:

jobs:
  docker:
    strategy:
      matrix:
        target:
          - { CUDA: "12.8", BASE: "manylinux_2_28" }
          - { CUDA: "12.9", BASE: "manylinux_2_28" }
          - { CUDA: "13.0", BASE: "manylinux_2_28" }
          - { CUDA: "13.1", BASE: "manylinux_2_28" }
    env:
      latest: "13.1"
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up target for latest
        if: ${{ env.latest == matrix.target.CUDA }}
        run: echo "TARGET_IMAGE=oraluben/manylinux_2_28:${{ matrix.target.CUDA }},oraluben/manylinux_2_28:latest" >> $GITHUB_ENV
      - name: Set up target
        if: ${{ env.latest != matrix.target.CUDA }}
        run: echo "TARGET_IMAGE=oraluben/manylinux_2_28:${{ matrix.target.CUDA }}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          build-args: |
            CUDA=${{ matrix.target.CUDA }}
            BASE=${{ matrix.target.BASE }}
          push: true
          tags: ${{ env.TARGET_IMAGE }}
