name: CI

on:
  push:
  workflow_dispatch:

env:
  REGISTRY_IMAGE: oraluben/manylinux_2_28
  LATEST_CUDA: "13.1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - { CUDA: "12.8", BASE: "manylinux_2_28" }
          - { CUDA: "12.9", BASE: "manylinux_2_28" }
          - { CUDA: "13.0", BASE: "manylinux_2_28" }
          - { CUDA: "13.1", BASE: "manylinux_2_28" }
        platform:
          - linux/amd64
          - linux/arm64
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ matrix.platform }}
          build-args: |
            CUDA=${{ matrix.target.CUDA }}
            BASE=${{ matrix.target.BASE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          tags: ${{ env.REGISTRY_IMAGE }}

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.target.CUDA }}-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        target:
          - { CUDA: "12.8", BASE: "manylinux_2_28" }
          - { CUDA: "12.9", BASE: "manylinux_2_28" }
          - { CUDA: "13.0", BASE: "manylinux_2_28" }
          - { CUDA: "13.1", BASE: "manylinux_2_28" }
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ matrix.target.CUDA }}-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          TAGS="-t ${{ env.REGISTRY_IMAGE }}:${{ matrix.target.CUDA }}"
          if [[ "${{ matrix.target.CUDA }}" == "${{ env.LATEST_CUDA }}" ]]; then
            TAGS="$TAGS -t ${{ env.REGISTRY_IMAGE }}:latest"
          fi
          
          docker buildx imagetools create $TAGS \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ matrix.target.CUDA }}
